.jumbotron{
    background-color: #ccc;
    margin-bottom: 0;
}
.header{
    color: #5A0606;
}
.navbar{
    border-radius: 0;
    margin-bottom: 0;
}
.vernav{
    background-color: #ccc;	
}
.vernav div{
    background-color: #ccc;	
    border: none;
}
.vernav ul{
    float: none;
}
.vernav li{
    float: none;
}
#myCarousel {
    padding-top: 12px;
}
.collapse a {
    margin: 0 32px;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff;
}
.container{
    background-color: #E1C5C5;
}
.panel-body img{
    max-height: 150px;
}

.img-responsive{
    width: auto;
    height: 100%;
}

.item img{
    width: 100%;
    max-height: 150px;
}
.col-sm-4, .col-xs-6 {
    float: left;
    padding: 16px;
}

.navbar-header {
    display: flex;
}

.nav-tabs li a {
    color: #5A0606;
}

